<p class="heading">
  Delayed Job Queue Status
</p>
<div class="grid-container">
  <div class="stat-card">
    <div class="stat-container">
      <a href="<%= u('/enqueued') %>">
        <div class="stat-title">Enqueued Jobs</div>
        <div class="stat-content"><%= delayed_jobs(:enqueued, @queues).count %></div>
      </a>
    </div>
  </div>
  <div class="stat-card">
    <div class="stat-container">
      <a href="<%= u('/working') %>">
        <div class="stat-title">Working Jobs</div>
        <div class="stat-content"><%= delayed_jobs(:working, @queues).count %></div>
      </a>
    </div>
  </div>
  <div class="stat-card">
    <div class="stat-container">
      <a href="<%= u('/pending') %>">
        <div class="stat-title">Pending Jobs</div>
        <div class="stat-content"><%= delayed_jobs(:pending, @queues).count %></div>
      </a>
    </div>
  </div>
  <div class="stat-card <%= delayed_jobs(:failed, @queues).count > 0 ? 'failure' : '' %>">
    <div class="stat-container">
      <a href="<%= u('/failed') %>">
        <div class="stat-title">Failed Jobs</div>
        <div class="stat-content"><%= delayed_jobs(:failed, @queues).count %></div>
      </a>
    </div>
  </div>
</div>
<p class="heading">
  Delayed Job Queue
</p>
<div class="grid-container">
  <% delayed_jobs(nil).group(:queue).size.each do |queue, count| %>
    <div class="stat-card">
      <div class="stat-container">
        <a href="<%= queue_path(queue) %>">
          <div class="stat-title"><%= queue %></div>
          <div class="stat-content"><%= count %></div>
        </a>
      </div>
    </div>
  <% end %>
</div>

<%= poll %>
